* {
  font-family: "Courier New", Courier, monospace;
}

.results-main {
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.head {
  align-items: center;
  padding-bottom: 3rem;
}

.sub-head {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  height: 2rem;
  align-items: center;
  padding-bottom: 5rem;
}

.sub-head p {
  font-size: 1.3rem;
}

.sub-head label {
  font-size: 1.5rem;
}

.description {
  display: flex;
  justify-content: center;
  align-self: auto;
  gap: 3rem;
}

.description label {
  font-size: 1.3rem;
}

.description p {
  font-size: 1.2rem;
}

.tobepaid {
  color: rgb(0, 143, 0);
  font-weight: bold;
}

.deductions {
  color: red;
  font-weight: bold;
}
